objs/
dist/README-SDL.txt
dist/Toxic.ilk
dist/Toxic.pdb
dist/SDL2.dll
dist/Toxic
dist/Toxic.exe
dist/freetype-test
dist/freetype-test.*
levels/pack
levels/pack.exe
levels/pack.ilk
levels/pack.pdb
scenes/show-meshes*
scenes/show-scene*
.idea/
*.blend[0-9]
scenes/Makefile

dist/Enviro.ilk
dist/Enviro.pdb
dist/Enviro
dist/Enviro.exe

.DS_Store
vs_project/Debug/